/* Write your code here. */
.bg-container {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.image {
  width: 600px;
  height: 400px;
}
.heading {
  font-size: 60px;
  font-family: roboto;
  color: #ffffff;
  text-align: center;
  width: 95%;
}
.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.phrase {
  font-size: 30px;
  font-weight: 500;
  font-family: roboto;
  color: #e4e7eb;
  text-align: left;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.input {
  background-color: transparent;
  height: 70px;
  border-color: #ffffff;
  border-width: 2px;
  padding: 10px;
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 20px;
}
.count-container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #219a6f;
  border-radius: 20px;
  font-size: 40px;
  font-weight: bold;
  width: 500px;
  margin-top: 20px;
  font-family: roboto;
}
